.ql-snow.ql-toolbar::after, .ql-snow .ql-toolbar::after {
    content: none;
}

.ql-editor{
    min-height: 300px;
    max-height: 300px;
}

.quill{
    overflow: auto;
    margin-bottom: 20px;
}

.ql-toolbar{
    border-radius: var(--r) var(--r) 0 0;
}

.ql-editor, .ql-container, .quill{
    border-radius: 0 0 var(--r) var(--r);
}

.ql-formats svg{
    height: auto;
}