.edit-proposal-scope .display-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

textarea {
    width: 100%;
    min-height: 150px;
    border-radius: 4px;
    padding: 10px;
    border: 1px solid var(--greyC4);
    resize: none;
}

.edit-proposal-scope .display-flex-end {
    margin-top: 10px;
}

.edit-proposal-scope .paragraph {
    margin-top: 10px;
}

.edit-proposal-scope .paragraph input {
    margin-bottom: 10px;
}