.backgroud-title{
    margin-bottom: 20px;
}

.bia, .barrier{
    position: absolute;
    bottom: 0;
    right: 0;
    user-select: none;
}

.barrier{
    width: 339px;
    height: 536px;
    z-index: 1;
} 

.bubble{
    right: 0;
    margin-right: 250px;
    margin-top: 150px;
    width: 300px;
    height: 150px;
}