.backgroud-title{
    margin-bottom: 20px;
}

.bia, .barrier{
    position: absolute;
    bottom: 0;
    right: 0;
    user-select: none;
}

.barrier{
    width: 339px;
    height: 536px;
    z-index: 1;
} 

.bubble{
    right: 0;
    width: 300px;
    margin-right: 220px;
    margin-top: 150px;
    padding: 15px 10px;
    padding-right: 5px !important;
    color: var(--blue);
    font-size: var(--p);
    word-break:keep-all;
}