.modal {
    border: 1px solid var(--greyC4);
    position: absolute;
    width: 200px;
    padding-bottom: 8px;
    border-radius: var(--r);
    background-color: var(--white);
    margin-top: 18px;
    margin-left: -90px;
    display: inline;
    align-items: center;
    justify-content: center;
    padding-top: 8px;
    box-shadow: rgba(0, 0, 0, 0.11) 0px 0px 4.475px 0px, rgba(0, 0, 0, 0.13) 0px 4.4px 9.9px 0px;
}


.header .person {
    background-color: var(--greyD9);
    width: 35px;
    height: 35px;
    border-radius: 80px;
}

.header .user {
    display: flex;
    padding: 5px 10px;
    border-radius: var(--r);
    align-items: center;
    cursor: pointer;
}

.header .username {
    font-size: var(--p);
}

.right .modal span {
    color: var(--grey59);
    margin-left: 5px;
    margin-right: 5px;
}

.right .modal .li {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;
}

.li-settings {
    margin-bottom: 2px !important;
}

.right .modal .li:hover {
    background-color: var(--greyE5);
}

.user-component a:hover {
    text-decoration: none;
}