.backgroud-title {
    margin-bottom: 20px;
}

.notification {
    overflow-y: hidden;
    overflow-x: auto;
}

.notification .date-horary {
    display: flex;
    margin-left: 20px;
}

.notification span {
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

}

.notifications .header,
.messages .header,
.solicitation .header {
    padding: 0 20px;
    background-color: var(--white);
    color: var(--grey59) !important;
    border-bottom: 1px solid var(--greyC4);
    position: sticky;
    top: 0;
}

.notifications .header .input-background .material-symbols-outlined,
.messages .header .input-background .material-symbols-outlined,
.solicitation .header .input-background .material-symbols-outlined {
    color: var(--greyC4) !important;
}

.notifications .header .selects,
.messages .header .selects {
    width: 50%;
}

.notifications .header .input-background,
.messages .header .input-background {
    width: 300px;
}

.notifications .header .input-background input,
.messages .header .input-background input {
    margin-left: 10px !important;
}

.more_vert {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--greyC4);
    border-radius: var(--r);
    margin-left: 15px;
    cursor: pointer;
}

.more_vert:hover {
    background-color: var(--greyF7);
}

.modal-more .modal {
    margin-left: -170px !important;
    width: 230px;
}

.notifications .selects input[type="checkbox"] {
    margin-left: 10px !important;
    margin-right: 20px;
    height: 60px !important;
}

.notifications .header .checkbox{
    margin-top: -25px;
    margin-right: 10px;
}