.backgroud-title {
    margin-bottom: 20px;
}

.notification{
    overflow-y: hidden;
    overflow-x: auto;
}

.notification .date-horary{
    display: flex;
    margin-left: 20px;
}

.notification span {
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

}