.backgroud-title {
    margin-bottom: 20px;
}

.notification {
    overflow-y: hidden;
    overflow-x: auto;
}

.notification .date-horary {
    display: flex;
    margin-left: 20px;
}

.notification span {
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

}

.notifications .header,
.messages .header {
    padding: 0 20px;
    background-color: var(--white);
    color: var(--grey59) !important;
    border-bottom: 1px solid var(--greyC4);
}

.notifications .header .selects,
.messages .header .selects {
    width: 50%;
}

.notifications .header .input-background,
.messages .header .input-background {
    width: 300px;
}

.notifications .header .input-background input,
.messages .header .input-background input {
    margin-left: 10px !important;
}

.more_vert {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--greyC4);
    border-radius: var(--r);
    margin-left: 15px;
    cursor: pointer;
}

.more_vert:hover {
    background-color: var(--greyF7);
}

.modal-more .modal {
    margin-left: -138px !important;
}