:root {
  --blue: #00579D;
  --blue00: #0090c5;
  --blue44: #448dca;
  --blue64: #64C3D5;
  --blue19: #1976d2;
  --blueF4: #F4FaFF;
  --grey3d: #3d3d3d;
  --grey59: #595959;
  --greyF7: #F7F7F7;
  --greyE5: #E5E5E5;
  --greyC4: #C4C4C4;
  --greyD9: #D9D9D9;
  --white: #FFFFFF;
  --white2: #FFFFFF;
  --green: #36802d;
  --red: #d33649;
  --orange: #f6921d;
  --gg: 22px;
  --g: 20px;
  --m: 18px;
  --p: 13px;
  --pp: 12px;
  --h: 45px;
  --r: .375rem;
  --rr: 50px;
}


.darkmode {
  --white: #FFFFFF;
  --white2: #131313;
  --greyF7: rgb(29, 29, 29);
  --greyE5: rgb(42, 45, 46);
  --greyC4: rgb(34, 34, 34);
  --blueF4: rgb(17, 17, 17);
  --grey59: rgb(179, 179, 179);
  --grey3d: rgb(212, 212, 212);
  --greyD9: rgb(48, 54, 61);
}


@font-face {
  font-family: "Helvetica";
  src: url("/public/fonts/Helvetica.ttf");
}

@font-face {
  font-family: "Helvetica Bold";
  src: url("/public/fonts/Helvetica-Bold.ttf");
}

@font-face {
  font-family: "Helvetica Oblique";
  src: url("/public/fonts/Helvetica-BoldOblique.ttf");
}

@font-face {
  font-family: "Helvetica Bold Oblique";
  src: url("/public/fonts/Helvetica-BoldOblique.ttf");
}

* {
  box-sizing: border-box;
  letter-spacing: 0.55px;
}

h1,
h2,
h3,
p,
button,
span,
div,
input,
li,
textarea {
  font-family: "Helvetica", sans-serif;
}

body {
  overflow: auto;
  overflow: overlay;
}


#root {
  min-height: 100vh !important;
  background-color: var(--white2);
}

.container {
  margin-left: 65px;
  padding: 20px 120px;
  min-height: calc(100vh - 65px);
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: var(--m);
  font-weight: 500;
  margin: 0 !important;
}

h1 b {
  margin-left: 5px;
}

a {
  color: var(--blue);
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: underline 2px;
}

svg {
  color: var(--grey59);
  width: 30px;
  height: 30px;
  font-weight: bold;
}

input,
textarea,
select,
.input {
  outline: none !important;
  background-color: var(--white2);
  font-size: var(--p) !important;
  color: var(--grey3d);
}

input {
  width: 100%;
  height: 100%;
  border: none;
}


textarea {
  resize: none;
  border: 1px solid var(--greyC4);
  width: 100%;
  padding: 10px;
  min-height: 100px;
}

input[type=checkbox] {
  accent-color: var(--blue19);
  width: 20px !important;
}

input[type=checkbox]:checked {
  outline: none;
}


.noMargin {
  margin: 0 !important;
}

.display-flex,
.display-flex-end,
.display-flex-start,
.display-flex-center,
.display-flex-space-between,
.display-flex-align-center,
.display-block {
  display: flex;
}

.display-flex-end {
  justify-content: flex-end !important;
}

.display-block {
  display: block !important;
}

.display-grid {
  display: grid;
}

.display-flex-center {
  justify-content: center;
  align-items: center;
}

.display-flex-space-between {
  justify-content: space-between !important;
  align-items: center !important;
}

.display-flex-start {
  justify-content: flex-start;
}

.display-flex-align-center {
  align-items: center;
}

.text-bold {
  font-weight: 600;
}

.material-symbols-outlined {
  user-select: none;
  translate: none !important;
  font-variation-settings: 'wght' 300, 'GRAD' -25, 'opsz' 50 !important;
}

.box {
  width: 100%;
  height: 100%;
  border: 1px solid var(--greyC4);
  border-radius: var(--r);
  padding: 20px;
  margin-bottom: 15px;
  color: var(--grey3d);
  overflow: hidden;
}


.btn-primary,
.btn-secondary,
.btn-primary-unique,
.introjs-button {
  background-color: var(--blue) !important;
  width: 200px;
  height: var(--h);
  border-radius: var(--r) !important;
  font-size: var(--p) !important;
  border: none !important;
  color: var(--white) !important;
  cursor: pointer !important;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none !important;
}

.btn-secondary,
.introjs-prevbutton {
  background-color: var(--greyF7) !important;
  color: var(--grey59) !important;
  border: 1px solid var(--greyC4) !important;
}

.btn-secondary:hover,
.introjs-prevbutton:hover {
  background-color: var(--greyE5) !important;
}


.btn-primary:hover,
.introjs-nextbutton:hover {
  background-color: var(--blue19) !important;
}

.btn-primary .material-symbols-outlined {
  margin-right: 5px;
}

.btn-primary-unique {
  width: var(--h);
  min-width: var(--h);
}

.btn-primary-unique:hover {
  background-color: var(--blue19);
}

.container a {
  text-decoration: none !important;
}

/* 
/* input[type="text"]:hover,
input[type="password"]:hover,
textarea:hover, */
.input:hover {
  border: 1px solid var(--grey3d) !important;
}

.darkmode .input:hover{
  border: 1px solid var(--greyC4) !important;
}

/* 
input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus {
  border: 2px solid var(--blue19) !important;
} */

.checkbox {
  display: block;
  position: relative;
  padding-right: 30px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  width: 22px;
  border-radius: calc(var(--r) - 3px);
  border: 1px solid var(--greyC4);
}

/* When the checkbox is checked, add a blue background */
.container input:checked~.checkmark {
  background-color: var(--blue);
  border: var(--blue);
}

.container input:checked:hover~.checkmark {
  background-color: var(--blue19);
  border: var(--blue19);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkmark:hover {
  border: 1px solid var(--grey3d);
}

/* Show the checkmark when checked */
.container input:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox .checkmark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}



.box .input select {
  width: 100%;
  height: var(--h);
  padding: 10px;
  border-radius: var(--r);
  border: 1px solid var(--greyC4);
}

textarea {
  border-radius: var(--r) !important;
}

.material-symbols-outlined {
  font-size: 22px !important;
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' -25,
    'opsz' 50
}


/** Espaço em branco em cima do input MUI CORE **/
.css-ihdtdm {
  width: 0px !important;
}

.MuiAutocomplete-popper *,
#menu- *{
  font-size: var(--p) !important;
}


.darkmode .css-1qqsdnr-MuiAutocomplete-root .MuiOutlinedInput-root .MuiAutocomplete-input,
.darkmode .css-17o42pk-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root,
.darkmode .css-6hp17o-MuiList-root-MuiMenu-list,
.darkmode .css-b7k0tb-MuiAutocomplete-listbox {
  color: var(--white) !important;
}

.darkmode .css-6hp17o-MuiList-root-MuiMenu-list,
.darkmode .css-b7k0tb-MuiAutocomplete-listbox  {
  background-color: var(--greyC4) !important;
}


table,
tbody {
  width: 100%;
  display: block;
  min-width: max-content;
}

tr {
  display: flex;
  align-items: center;
  text-align: center;
  height: 35px;
}

tr td {
  width: 100%;
  height: 100%;
  border-right: 1px solid var(--greyC4);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  text-overflow: ellipsis !important;
  white-space: nowrap;
  position: relative;
  direction: ltr;
  font-size: var(--p);
}

tr td:last-child {
  border-right: none;
}

tr:hover,
.tr:hover {
  background-color: var(--blueF4);
}

hr {
  width: auto !important;
  margin: 0px;
}

.hr {
  width: 100%;
  height: 1px;
  background-color: var(--greyC4);
  margin: 20px 0;
}

.w130 {
  width: 135px !important;
  margin-top: 19.5px;
}

.attachments label {
  width: 250px;
  height: var(--h);
  padding: 11px;
  background-color: var(--greyF7);
  color: var(--grey3d) !important;
  border: 1px solid var(--greyC4);
  border-radius: var(--r);
  text-align: center;
  margin-top: 10px;
  cursor: pointer;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.attachments label:hover {
  background-color: var(--greyE5);
}

.label {
  margin-bottom: 2px !important;
}

label, span{
  font-size: var(--p);
}

.false::-webkit-scrollbar {
  width: 12px;
  height: 6px;
}

.demand::-webkit-scrollbar,
.demand-list::-webkit-scrollbar,
.message::-webkit-scrollbar,
.notification-true::-webkit-scrollbar,
.notification-false::-webkit-scrollbar,
.container-background::-webkit-scrollbar,
.ql-editor::-webkit-scrollbar {
  width: 10px;
  height: 4px;
}

.container-background::-webkit-scrollbar,
.boxNoPadding::-webkit-scrollbar,
.chat-box .chats::-webkit-scrollbar,
.false::-webkit-scrollbar,
.ql-editor::-webkit-scrollbar {
  width: 6px;
}

.container-background::-webkit-scrollbar-thumb {
  border-radius: 10px
}

.demand::-webkit-scrollbar-thumb,
.demand-list::-webkit-scrollbar-thumb,
.message::-webkit-scrollbar-thumb,
.notification-true::-webkit-scrollbar-thumb,
.notification-false::-webkit-scrollbar-thumb,
.container-background::-webkit-scrollbar-thumb,
.boxNoPadding::-webkit-scrollbar-thumb,
.chat-box .chats::-webkit-scrollbar-thumb,
.false::-webkit-scrollbar-thumb,
.ql-editor::-webkit-scrollbar-thumb {
  background-color: var(--greyD9);
}

.demand::-webkit-scrollbar-thumb:hover,
.demand-list::-webkit-scrollbar-thumb:hover,
.message::-webkit-scrollbar-thumb:hover,
.notification-true::-webkit-scrollbar-thumb:hover,
.notification-false::-webkit-scrollbar-thumb:hover,
.container-background::-webkit-scrollbar-thumb:hover,
.boxNoPadding::-webkit-scrollbar-thumb:hover,
.chat-box .chats::-webkit-scrollbar-thumb:hover,
.false::-webkit-scrollbar-thumb:hover,
.ql-editor::-webkit-scrollbar-thumb:hover {
  background-color: var(--greyC4);
}


/* ATTACHMENTS */

.attachments a {
  margin-right: 20px;
}

.attachment {
  cursor: pointer;
  margin-left: 0px !important;
  width: 100px;
  height: 80px;
  padding: 5px;
  border-radius: var(--r);
  display: grid;
  align-items: center;
  justify-content: center;
}

.attachment span {
  font-size: var(--pp) !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.attachment-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.attachment:hover {
  background-color: var(--greyF7);
}

.grey3d {
  color: var(--grey3d);
}

.checkbox {
  display: flex;
}

.pl10 {
  padding-left: 10px !important;
}

.mb0 {
  margin-bottom: 0px !important;
}

.mr20 {
  margin-right: 20px !important;
}


.w320px{
  width: 320px !important;
}

.checkbox span {
  font-size: var(--p) !important;
}

.create-demands-1 label,
.create-demands-2 label,
.create-demands-3 label {
  display: block;
  margin-bottom: 2px;
}


/* MUI SELECTS */
.css-17o42pk-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root,
.css-1846947-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root,
.css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper,
.css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
  border-radius: var(--r) !important;
}

.css-e363es-MuiFormControl-root {
  margin: 0px !important;
}

/* INTRO JS */

.introjs-helperLayer{
  box-shadow: rgba(33, 33, 33, 0.1) 0px 0px 1px 2px, rgba(33, 33, 33, 0.5) 0px 0px 0px 5000px !important;
}

.introjs-arrow.top{
  top: -9px !important;
}

.introjs-tooltip-title{
  color: var(--blue);
  font-weight: 500 !important;
}

.introjs-button{
  text-shadow: none !important;
  width: 40px !important;
  height: 40px !important;
  text-align: center;
  box-shadow: none !important;
  padding: 0px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.introjs-prevbutton{
  color: var(--greyC4) !important;
}

.introjs-prevbutton:before{
  content: '<';
  position: absolute;
  width: 20px;
  height: 20px;
  color: var(--grey3d);
}

.introjs-nextbutton:before{
  content: '>';
  position: absolute;
  width: 20px;
  height: 20px;
  color: var(--white);
}

.introjs-prevbutton{
  color: var(--greyF7) !important;
}

.introjs-prevbutton:hover{
  color: var(--greyE5) !important;
}

.introjs-nextbutton{
  color: var(--blue) !important;
}

.introjs-nextbutton:hover{
  color: var(--blue19) !important;
}

.introjs-tooltiptext{
  font-size: var(--p);
}

@media(max-width: 1280px) {

  .container {
    padding: 20px 110px;
  }

  .view-demand .Title,
  .create-demands-1 .Title,
  .create-demands-2 .Title,
  .create-demands-3 .Title {
    margin-bottom: 20px !important;
  }

}

@media(max-width: 768px) {
  .container {
    padding: 20px 45px 20px 25px;
  }

  .w130 {
    width: auto !important;
    margin-left: -15px;
  }

  .mw100 {
    max-width: 100% !important;
    min-width: 100% !important;
  }
}

@media(max-height: 768px) {
  body {
    zoom: 0.9 !important;
    -webkit-zoom: 0.9 !important;
    -ms-zoom: 0.9 !important;
  }
}

@media(max-width: 350px) {
  body {
    zoom: 0.8 !important;
    -webkit-zoom: 0.8 !important;
    -ms-zoom: 0.8 !important;
  }
}

@media(max-width: 260px) {
  body {
    zoom: 0.5 !important;
    -webkit-zoom: 0.5 !important;
    -ms-zoom: 0.5 !important;
  }
}


/* VLIBRAS */

[vw-plugin-wrapper].active {
  border-radius: var(--r) !important;
}

[vp] .vpw-settings-btn,
[vp] .vpw-settings .vpw-content,
[vp] .vpw-settings-btn div button {
  background-color: var(--blue) !important;
}


[vp] .vpw-controls.vpw-playing .vpw-controls-play .vpw-component-pause {
  filter: grayscale(10);
}


[vp] .vpw-slider-check.vpw-round {
  background-color: rgba(255, 255, 255, 0.28) !important;
  width: 53px;
  height: 25px;
}

[vp] input:checked+.vpw-slider-check {
  background-color: rgba(255, 255, 255, 0.70);
}

[vp] .vpw-slider-check::before {
  position: absolute;
  content: "";
  margin-top: 6px;
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: var(--white);
  transition: .4s;
  border-radius: var(--rr);
}

[vp] .vpw-settings .vpw-content>ul .vpw-opacity {
  display: none !important;
}

[vw] span {
  font-family: "Helvetica", sans-serif !important;
}

[vp] .vpw-settings .vpw-content>ul .vpw-localism .vpw-abbrev {
  font-weight: none !important;
}

[vp] .vpw-settings .vpw-content .vpw-flag {
  border-radius: 3px !important;
}

[vp] [vp-change-avatar] .vp-button-change-avatar {
  box-shadow: none;
}