.filter-modal {
    margin-top: 65px;
    width: 200px;
    position: absolute;
    z-index: 6;
}

.filter-modal .li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.background-filter .filter-modal input {
    width: 179px !important;
    margin-left: 10px;
    padding: 8px;
}

.hr {
    color: #ffffffb5;
}

.filter-modal .btn-primary {
    width: 179px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    outline: none;
    border: none;
}

.filter-modal .btn-secondary {
    width: 179px;
    margin-top: 10px;
}

.font-p {
    font-size: var(--p);
}

.send-filter{
    padding-bottom: 15px;
    height: 80px !important;
}

.send-filter .select-cost-center {
    border: 1px solid var(--greyC4);
    margin: 10px;
    margin-top: 20px !important;
    width: auto !important;
    border-radius: var(--r);
}

.filter-modal .select-cost-center input {
    margin-top: 0px;
    margin-left: 3px;
}

.select-cost-center span {
    font-size: var(--gg);
}

.filter-modal .li:hover .material-symbols-outlined {
    font-variation-settings: 'FILL' 1, 'wght' 350, 'GRAD' -25, 'opsz' 50 !important;
}

.background-modal {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 5;
    top: 0;
    left: 0;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.custom-filter .modal{
    width: 60% !important;
    height: 400px !important;
    margin: 0px !important;
    background-color: var(--white);
    border-radius: var(--r);
    position: relative !important;
    z-index: 6;
    padding: 20px 12px !important;
    overflow: hidden;
}

.custom-filter .filters-custom{
    overflow: auto;
    overflow-x: hidden;
    margin-top: 10px;
    height: 260px;
    margin-right: 5px;
}

.custom-filter .select-cost-center{
    border: 1px solid var(--greyC4);
    border-radius: var(--r);
}

.custom-filter .filters-custom .input{
    z-index: 200;
}

.custom-filter .material-symbols-outlined{
    margin: 0px;
}

.custom-filter .btn-primary{
    margin-left: 0px;
    width: 100% !important;
    max-width: 100% !important;
    min-width: 100% !important;
}

.custom-filter .font-p{
    font-size: calc(var(--p) + 2px) !important;
    margin-left: 10px !important;
}

.custom-filter .label label{
    color: var(--grey3d)
}

.custom-filter .input-background{
    width: 100% !important;
}

.custom-filter .input{
    width: 100% !important;
    margin-bottom: 10px;
    padding-left: 0px !important;
}

.custom-filter input{
    margin-left: 0px !important;
    padding-left: 0px !important;
    width: 100% !important;
    min-width: 96% !important;
}


@media (max-width: 768px) {

    .background-filter {
        width: 100%;
        margin-top: 421px;
        margin-right: 25px;
        top: 0;
        right: 0;
        margin-left: 0px !important;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .filter-modal .btn-primary {
        width: 180px !important
    }

    .send-filter {
        position: absolute;
        background-color: white;
        width: 199px;
        border-top: none !important;
        border: 1px solid var(--greyC4);
        border-radius: 0 0 var(--r) var(--r);
    }


}