.search, .search .section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.input-search {
    width: 70%;
}

.search input {
    width: 100%;
    height: 42px;
    padding-left: 45px;
    padding-right: 10px;
    margin-left: 10px;
    border-radius: 3px;
    border: 1px solid var(--greyC4);
}

.search .input-search .material-symbols-outlined {
    color: var(--greyC4);
    position: absolute;
    margin: 9px 20px;
}

.search .criar-demanda {
    background-color: var(--blue);
    width: 200px;
    height: 42px;
    margin-left: 20px;
    border-radius: 3px;
    border: none;
    color: var(--white);
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}