.search, .search .section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search{
    margin-bottom: 20px;
}

.input-search {
    width: 70%;
}

.search input {
    width: 100%;
    height: 42px;
    padding-left: 45px;
    padding-right: 10px;
    margin-left: 10px;
    border-radius: 3px;
    border: 1px solid var(--greyC4);
}

.search .input-search .material-symbols-outlined {
    color: var(--greyC4);
    position: absolute;
    margin: 9px 20px;
}

.search .criar-demanda {
    background-color: var(--blue);
    width: 200px;
    height: 42px;
    margin-left: 20px;
    border-radius: 3px;
    border: none;
    color: var(--white);
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

.search .btn-search{
    display: flex;
}

@media(max-width: 768px){
    .search{
        display: block;
    }

    .search .criar-demanda {
      display: none !important;
    }

    .search input{
        margin-left: 0px;
    }

    .search .input-search .material-symbols-outlined{
        margin-left: 7px;
    }
  }