.search,
.search .section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search {
    margin-bottom: 20px;
}

.input-search {
    width: 100%;
    margin-right: 20px;
}

.search input {
    width: 250px;
    height: var(--h);
    padding-left: 45px;
    padding-right: 10px;
    margin-left: 10px;
    border-radius: var(--r);
    border: 1px solid var(--greyC4);
}

.search .input-search .material-symbols-outlined {
    color: var(--greyC4);
    position: absolute;
    margin: 10px 20px;
}

.search a {
    text-decoration: none;
}

.search .btn-search {
    display: flex;
}

.export-spreadsheet {
    margin-left: 10px;
    width: 45px;
    right: 0;
}

.export-spreadsheet img {
    width: 35px;
    height: 35px;
}

.background-filter {
    margin-left: 200px !important;
    position: absolute;
}

.filters-on {
    display: flex;
    align-items: center;
}

.filters-on div {
    width: 100px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    background-color: var(--blue);
    border-radius: 50px;
    color: var(--white);
    font-size: var(--pp);
}

.filters-on div:hover {
    cursor: pointer;
    background-color: var(--blue19);
}

.size-20 {
    font-size: 15px;
}

@media(max-width: 1280px) {
    .search input {
        width: 100%;
    }

    .search .section {
        display: flex !important;
        flex-direction: column-reverse !important;
        justify-content: flex-end !important;
        align-items: flex-end;
    }

    .search,
    .search .section {
        display: block;
    }

    .search input {
        margin-left: 0px;
        margin-top: 20px;
    }

    .search .input-search .material-symbols-outlined {
        margin-top: 32px;
        margin-left: 10px;
    }

    .search .input-search {
        margin-right: 0px;
    }
}

@media(max-width: 768px) {

    .search,
    .background-title {
        display: block !important;
    }

    .search .criar-demanda {
        display: none !important;
    }

    .search input {
        margin-left: 0px;
    }

    .search .input-search .material-symbols-outlined {
        margin-left: 7px;
    }
}