.microphone{
    width: 35px;
    height: 35px;
    min-width: 35px;
    border-radius: var(--rr);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    outline: none;
    right: 0;  
}

.microphone .material-symbols-outlined{
    margin: 0px !important;
    color: var(--grey3d) !important;
    font-variation-settings: 'FILL' 1, 'wght' 500, 'GRAD' 1000, 'opsz' 150 !important;
}

.box .microphone .material-symbols-outlined{
    color: var(--grey3d) !important;
}

.microphone:hover{
    background-color: var(--greyF7);
    color: var(--grey59);
    cursor: pointer;
}

.microphone:hover .material-symbols-outlined{
    color: var(--grey59) !important;
}

.mic-true{
    background-color: var(--greyF7);
    animation: pulse 1s infinite !important;
}

.mic-true .material-symbols-outlined{
    color: var(--grey59) !important;
}

.input .mic .modal-mic,
.mic-absolute .mic .modal-mic{
    position: absolute !important;
    z-index: 10000000;
    margin-left: -50px !important;
    margin-right: 0px !important;
    margin-bottom: 0px !important;
    margin-top: 10px !important;
    padding: 8px;
    width: 90px !important;
    height: 48px;
}

.modal-mic .material-symbols-outlined{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    margin: 0px !important;
    padding: 0px !important;
    color: var(--grey3d) !important;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 var(--greyD9);
    }
    70% {
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}