.workflow .container .boxNoPadding{
    padding: 40px;
    margin-bottom: 50px;
    display: grid;
    align-items: center;
    justify-content: center;
}

.workflow .h100{
    height: 100% !important;
    min-height: 100% !important;
    max-height: 100% !important;
}

.workflow .ellipse{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

.workflow .ellipse span {
    width: 50px;
    min-width: 50px;
    height: 50px;
    border-radius: var(--rr);
    background-color: var(--greyC4);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
}

.workflow .ellipse-done span{
    background-color: var(--blue);
}

.workflow .worker{
    font-size: var(--pp);
    color: var(--grey59);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.workflow .step{
    width: 250px;
    display: block;
    align-items: center;
    justify-content: center;
}

.workflow .ellipse-text{
    white-space: nowrap;
    font-size: var(--p);
    color: var(--grey3d);
    display: flex;
    justify-content: center;
    text-align: center;
}

.workflow .background-line{
    display: flex;
    align-items: center;
    justify-content: center;
}

.workflow .line{
    width: 2px;
    height: 80px;
    border-left: 4px dashed var(--greyC4);
    margin: 20px 0;
}

.workflow .line-true{
    border-left: 4px dashed var(--blue);
}