.box .input {
    width: 100%;
    display: block;
    margin-bottom: 15px;
}

.box .input input {
    width: 100%;
    height: var(--h);
    padding: 10px;
    border-radius: 4px;
    border: 1px solid var(--greyC4);
}



.box label {
    color: var(--grey3d);
}