.footer {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: calc(100% - 215px);
    bottom: 0;
}

.footer span {
    font-size: 13px;
}

.footer img {
    height: 25px;
    margin-right: 20px;
}