.presentation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    background-color: #00000023;
    z-index: 14;
    overflow: hidden;
}

.presentation-2 {
    z-index: 12 !important;
}

.bia {
    margin-right: 50px;
    margin-left: 150px;
}


.barrier {
    position: absolute;
    z-index: 1;
    bottom: -10px;
    right: 0;
    user-select: none;
}

.bubble {
    right: 0;
    width: 350px;
    height: 149px;
    padding: 15px 10px;
    border-radius: var(--r);
    word-break: keep-all;
    background-color: var(--white);
}

.bubble p {
    color: var(--blue);
    margin-top: 0px;
    margin-bottom: 5px;
}

.bubble .description {
    font-size: var(--p);
    color: var(--grey3d);
    height: 45px;
}

.presentation .btn-primary .material-symbols-outlined {
    color: var(--white) !important;
    fill: #fff;
    margin: 0px !important;

}

.presentation .material-symbols-outlined {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--p) !important;
}

.presentation .btn-secondary .material-symbols-outlined {
    margin-left: 5px;
}

.presentation .btn-secondary:hover {
    background-color: var(--greyE5);
}

.btn-presentation-bar-true {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.btn-presentation-bar-false {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.presentation button {
    display: flex;
    align-items: center;
    justify-content: center;
}