body {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.elementos {
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-top: 10px;
}

.idioma {
    width: 50px;
    height: 32px;
    margin-right: 15px;
    border-radius: 5px;
}

.title {
    color: var(--cinza1);
    transform: rotate(-90deg);
}

.main {
    margin: 0;
    width: 500px;
    height: 500px;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.header-login {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.frase-inicial {
    display: flex;
    align-items: center;
    color: var(--cinza1);
}

.logo-weg {
    width: 75px;
    height: 50px;
}

form {
    font-size: 15px;
    color: var(--cinza1);
}

.email p{
    font-weight: 600;
}

.email input {
    width: 100%;
    height: 45px;
    border-radius: 5px;
    border: 2px solid var(--cinza2);
    outline: none;
}

.senha p {
    font-weight: 600;
}

.senha {
    margin-top: 20px;
}

.senha input {
    width: 100%;
    height: 45px;
    border-radius: 5px;
    border: 2px solid var(--cinza2);
    outline: none;
}

.lembrar {
    margin-top: 10px;
}

.botao{
    width: 100%;
}

.acessar{
    width: 100%;
    height: 40px;
    background-color: var(--azul);
    color: var(--branco);
    border: none;
    border-radius: 5px;
    margin-top: 30px;
}