.language {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 5px 10px;
    padding-right: 5px;
    border-radius: var(--r);
    height: 45px;
}

.language img {
    width: 35px;
}

.language span {
    color: var(--white);
}

.language img {
    border-radius: var(--r);
}

.modal {
    border: 1px solid var(--greyC4);
    position: absolute;
    width: 55px;
    height: 120px;
    border-radius: var(--r);
    background-color: var(--greyF7);
    margin-top: 185px;
    margin-left: -10px;
    display: inline;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
}

.modal .flag {
    width: 45px;
    height: 25px;
    margin-left: 4px;
    border-radius: var(--r);
    padding: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal .flag img {
    height: 20px;
    border-radius: 2px;
}

.modal .flag:hover {
    background-color: var(--greyE5);
}