.language {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.language img {
    width: 35px;
}

.language span {
    color: var(--white);
}

.language img {
    border-radius: 2px;
}

.modal {
    border: 2px solid var(--greyD9);
    position: fixed;
    width: 55px;
    height: 114px;
    border-radius: 3px;
    background-color: var(--greyE5);
    margin-top: 185px;
    margin-left: -15px;
    display: inline;
    align-items: center;
    justify-content: center;
}

.modal .flag {
    width: 100%;
    height: 36.5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal .flag:hover {
    border-radius: 3px;
    background-color: var(--greyD9);
}