.modalChangeStatus {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden !important;
    z-index: 100;
}

.modalChangeStatus .modal {
    width: 400px !important;
    height: 350px;
    padding: 20px;
    border-radius: calc(var(--r) * 2);
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.modalChangeStatus .modal .modal-header {
    margin-top: 20px;
}

.modal-header .closeModal {
    cursor: pointer;
    border-radius: var(--r);
    background-color: var(--greyF7);
    border: 1px solid var(--greyC4);
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-header .closeModal:hover {
    background-color: var(--greyE5);
}

.modal-header p {
    margin: 0;
    font-size: var(--m);
    color: var(--blue);
}

.modal .current {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    border-radius: var(--r);
    border: 1px solid var(--greyC4);
}

.modal .current:hover {
    background-color: var(--greyE5);
}

.modal .display-flex-center .material-symbols-outlined {
    transform: rotate(90deg);
}

.modalChangeStatus .modal .btn-primary {
    margin-top: 30px;
    width: 100%;
}

.modal .display-flex-center {
    margin-bottom: 20px;
}

.modalChangeStatus .MuiSelect-select{
    position: relative !important;
    z-index: 100;
}

.modalInfoCancelled .reproachDescription{
    display: block;
    width: 100% !important;
    height: 220px !important;
    font-size: calc(var(--p) + 2px) !important;
    overflow: auto !important;
    white-space: pre-wrap !important;
    word-wrap: break-word !important;
    word-break: break-all !important;
    margin-left: 0px !important;
    margin-bottom: 10px;
}

.modalInfoCancelled .modal{
    padding-top: 8px !important;
}