
.demands .navigator, .demands .navigator div{
    display: flex;
    align-items: center;
}

.demands .navigator{
    height: var(--h);
    justify-content: flex-end;
    margin-top: 25px;
    color: var(--grey59);
}

.demands .navigator div{
    width: var(--h);
    height: 100%;
    justify-content: center;
    border: 1px solid var(--greyC4);
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
}

.demands .navigator .current{
    background-color: var(--blue);
    color: var(--white);
    border: none;
}

