.historical-demand table {
    width: 100%;
    display: block;
    overflow: auto;
}

.historical-demand tr {
    display: flex;
    align-items: center;
    text-align: center;
    height: 35px;
}

.historical-demand tr td {
    width: 100%;
    height: 100%;
    border-right: 1px solid var(--greyC4);
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    direction: ltr;
}

.historical-demand tr .table-restore-page,
.historical-demand tr .table-find-in-page {
    width: 40%;
}

.historical-demand tr .table-restore-page span,
.historical-demand tr .table-find-in-page span{
    color: var(--blue);
    cursor: pointer;
}

.historical-demand tr td:last-child {
    border-right: none;
}

.historical-demand hr {
    width: auto !important;
    margin: 0px;
}

.historical-demand tr:hover {
    background-color: var(--blueF4);
}