
.historical-demand tr .table-restore-page span,
.historical-demand tr .table-find-in-page span{
    color: var(--blue);
    cursor: pointer;
}

.historical-demand tr:first-child{
    border-top: 0px;
}