.messages .box-message {
    width: 100%;
    margin-top: 50px;
    color: var(--grey59);
}

.messages .box-message .profile {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--greyC4);
    margin-bottom: 20px;
}


.messages .user-picture {
    max-width: 60px;
    min-width: 60px;
    width: 60px;
    max-height: 60px;
    height: 60px;
    background-color: var(--blue);
    border-radius: var(--rr);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(var(--g) + 5px);
    color: var(--white);
}

.messages .box-message .message-name {
    margin-left: 20px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.messages .box-message .message-name .username {
    width: 100%;
}

.messages .box-message .chat-time-chats {
    margin-bottom: 4px;
}

.messages .box-message span {
    font-size: var(--m);
}

.messages .box-message .online span {
    font-size: var(--p);
}

.messages .box-message .online span::after {
    content: "";

    margin-top: 5px;
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: var(--blue);
    margin-left: 5px;
}

.messages .box-message .input-message {
    width: 100%;
    height: var(--h);
    border: 1px solid var(--greyC4);
    border-radius: var(--rr);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.messages .box-message .input-message .material-symbols-outlined {
    width: 30px;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.messages .box-message .input-message .actions-message {
    display: flex;
    position: relative;
    margin-right: 6px;
}

.messages .box-message .input-message .actions-message div {
    border-radius: var(--rr);

}

.messages .box-message .input-message input {
    width: 100%;
    height: 100%;
    padding: 0 20px;
    border-radius: 100px;
    border: none;
}

.messages .box-message .input-message input:hover,
.messages .box-message .input-message input:focus {
    border: 0 solid transparent !important;
}

.messages .box-message .text-field {
    display: flex;
    align-items: center;
    justify-content: center;
}

.messages .box-message .send {
    margin-left: 10px;
    width: 45px;
    min-width: 45px;
    height: var(--h);
    min-height: var(--h);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--r);
    background-color: var(--blue);
    cursor: pointer;
    border-radius: var(--rr);
    outline: none;
    border: none;
}

.messages .box-message .send:hover {
    background-color: var(--blue19);
}

.messages .box-message .send .material-symbols-outlined {
    font-size: 30px;
    color: white;
}

.messages .box-message .message-user {
    max-width: 50%;
    width: max-content;
    overflow: hidden;
    word-wrap: break-word;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: var(--r);
    background-color: var(--greyE5);
    margin-right: 30px;
}

.messages .chat-box .chats {
    margin-right: 15px;
    height: 100%;
    height: calc(50vh + 55px);
    overflow-x: hidden;
    overflow-y: auto;
    border: 1px solid var(--greyC4);
    border-radius: var(--r);
    border: 1px solid var(--greyC4);
    border-radius: var(--r);
    overflow: overlay;
}


.messages .chat-box .chats .chats-profile {
    width: 100%;
    height: 80px;
    border-bottom: 1px solid var(--greyC4);
    padding: 10px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.messages .chat-box .arrow-chat {
    position: absolute;
    transform: rotate(90deg);
}

.messages .chat-box .chats-true {
    width: 0px;
    border: 0px;
    margin-right: 0px;
}

.messages .chat-box .arrow-chat-true {
    transform: rotate(-90deg);
}

.messages .chat-box .chats .text-person-chats {
    margin-left: 10px;
}

.messages .chat-box .chats .chats-profile .person {
    width: 40px;
    min-width: 40px;
    height: 40px;
    background-color: var(--blue);
    border-radius: var(--rr);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
}

.messages .chat-box .chats .chats-profile .message-name-chats,
.messages .chat-box .chats .chats-profile .time-chat {
    font-size: var(--p);
}

.messages .chat-box .chats .chats-profile .span-message-chat {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 80%;
    display: block;
}

.messages .chat-box .chats .chats-profile .message-chat {
    font-size: var(--pp);
    color: var(--grey);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.messages .chat-box .chats .chats-profile .w100 {
    width: 92%;
}


.messages .chat-box .chats .chats-profile:hover {
    background-color: var(--blueF4);
}

.messages .chat-box .chat-content {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.messages .chat-box ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.messages .message-data span {
    width: 100%;
    word-break: break-all;
    overflow-x: hidden;
    font-size: var(--pp) !important;
    display: flex;
    justify-content: end;
}

.messages .box-message .message-user:hover {
    background-color: var(--greyD9);
}

.messages .box-message .message-user .message-content {
    display: grid;
}

.messages .box-message .message-user .message-time {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: var(--p);
}

.messages .box-message .message-user span {
    font-size: var(--p);
}

.messages .box-message .message-two {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.messages .box-message .message-two .message-user {
    background-color: var(--greyF7);
}

.messages .box-message .message-two .message-user:hover {
    background-color: var(--greyE5);
}


.messages .box-message .input-message .add-reaction,
.messages .box-message .input-message .attach_file {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 35px;
    min-width: 35px;
    min-height: 35px;
    height: 35px;
    margin-left: 5px;
    border-radius: var(--r);
}


.messages .box-message .input-message .add-reaction:hover,
.messages .box-message .input-message .attach_file:hover {
    background-color: var(--greyE5);
}

.messages .box-message .chat-messages {
    height: 50vh;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 10px;
}


* {
    scrollbar-width: auto;
    scrollbar-color: var(--greyD9) white;
}

.chat-messages::-webkit-scrollbar {
    width: 12px;
}

.chat-messages::-webkit-scrollbar-track {
    background: white;
}

.chat-messages::-webkit-scrollbar-thumb {
    background-color: var(--greyD9);
    border-radius: 10px;
    border: 3px solid white;
}

.chat-messages::-webkit-scrollbar-thumb:hover {
    background-color: var(--greyC4);
    border: 2px solid white;
}


.box-message .profile .person {
    background-color: var(--blue);
    width: 50px;
    height: 50px;
    min-width: 50px;
    border-radius: var(--rr) !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-message .profile .person span {
    color: var(--white);
    font-size: var(--g);
}

.messages .check-done{
    font-size: 16px !important;
    margin-left: 2px;
}

.messages .message-user .display-flex-end{
    align-items: center;
}

@media(max-width: 1140px) {
    .messages .box-message .message-user {
        max-width: 40%;
    }
}

@media(max-width: 768px) {

    .messages .box-message .message-user,
    .messages .box-message .message-two {
        max-width: 100% !important;
    }

    .Emoji {
        margin-right: 80px;
    }
}

.Emoji {
    position: absolute;
    right: 0;
    margin-bottom: 550px;
    margin-right: 175px;
}