.create-demands-1 .background-title {
    display: flex;
    justify-content: space-between;
}

.create-demands-1 .progress-bar {
    display: flex;
    align-items: center;
    width: 80%;
}

.create-demands-1 .progress-bar,
.create-demands-1 .ellipse,
.create-demands-1 .ellipse-current {
    display: flex;
    align-items: center;
    justify-content: center;
}

.create-demands-1 .progress-bar .line {
    width: 50%;
    border-top: 4px solid var(--greyD9);
    display: flex;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.create-demands-1 .ellipse,
.create-demands-1 .ellipse-current {
    width: 55px;
    min-width: 55px;
    height: 55px;
    border-radius: 50px;
    background-color: var(--greyD9);
    color: var(--white);
}

.create-demands-1 .ellipse-current {
    background-color: var(--blue);
}

.demands-footer{
    display: flex;
    justify-content: space-between;
}

@media(max-width: 1050px){
    .create-demands-1 .progress-bar{
        width: 70%;
    }
}