.background-title {
    margin-bottom: 20px;
}

.background-title .display-flex{
    justify-content: flex-end;
}

.configuration {
    color: var(--grey3d);
}

.configuration .flex,
.configuration .box .profile {
    display: flex;
    align-items: center;
}

.configuration .box .profile img {
    height: 100%;
}

.configuration .box .profile .material-symbols-outlined {
    margin-left: 5px;
}

.configuration .box .profile .email-name .material-symbols-outlined,
.configuration .box .change-configuration .material-symbols-outlined {
    margin-left: 10px;
    cursor: pointer;
    border-radius: var(--r);
    padding: 5px;
    background-color: var(--greyF7);
    font-size: var(--gg) !important;
}

.configuration .box .profile .email-name .material-symbols-outlined:hover,
.configuration .box .change-configuration .material-symbols-outlined:hover {
    background-color: var(--greyD9) !important;
}

.configuration .box .input-image {
    display: none !important;
}

.configuration .box #image-profile {
    width: 90px;
    height: 90px;
    min-width: 90px;
    min-height: 90px;
    border-radius: var(--rr);
    background-color: var(--blue19);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: var(--white);
    cursor: pointer;
    margin-left: 0px !important;
    overflow: hidden;
}

.configuration .colors-configuration {
    width: 330px;
    height: 30px;
    border-radius: var(--r);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

.configuration .colors-configuration button{
    width: min-content;
    border-radius: var(--r);
    border: none;
}

.configuration .colors-configuration .color {
    width: 20px;
    height: 20px;
    border-radius: calc(var(--r) - 2px);
}

.configuration .box #image-profile:hover {
    background-color: var(--blue);
}

.configuration .box .email-name {
    display: grid;
    margin-left: 10px;
}

.configuration .box .email-name .name {
    font-size: var(--g);
}

.configuration .box .email-name .email {
    font-size: var(--p);
    margin-top: 5px;
}

.configuration .box .change-configuration {
    display: grid;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid var(--greyC4);
}

.configuration .box .change-configuration .title-confuration {
    font-size: var(--m);
    height: 34px;
    margin-top: 10px;
}

.configuration .box .profile .material-symbols-outlined {
    font-size: 30px !important;
}

.configuration .switch {
    position: relative;
    display: inline-block;
    width: 53px;
    height: 25px;
    margin-left: 20px;
}

.configuration .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.configuration .switch label {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--greyC4);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: var(--rr);
}

.configuration .switch label:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: var(--white);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: var(--rr);
}

.configuration input:checked+label {
    background-color: var(--blue19);
}

.configuration input:focus+label {
    box-shadow: 0 0 1px var(--blue19);
}

.configuration input:checked+label:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.configuration .font-size {
    margin-left: 10px;
    width: 40px !important;
    height: 40px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 !important;
}

.configuration .font .material-symbols-outlined {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.configuration .font-size:hover {
    border: 1px solid var(--grey59)
}

.configuration .font-size:focus {
    border: 2px solid var(--blue19)
}

.configuration .input-password {
    width: 150px !important;
    margin-left: 15px;
    padding-right: 11.5px !important;
}

.configuration .display-flex {
    align-items: center;
}

.configuration .slider {
    -webkit-appearance: none;
    width: 100px;
    height: 25px;
    border-radius: var(--rr);
    background: var(--greyC4);
    outline: none;
}

.configuration .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    border-radius: var(--r);
    background: var(--white);
    cursor: pointer;
}

.configuration .slider::-moz-range-thumb {
    border-radius: var(--r);
    background: var(--white);
    cursor: pointer;
}

.configuration .box-accesibility {
    width: 50%;
    height: 300px;
    border-radius: calc(var(--r) * 4);
    margin-left: 50px;
    background: linear-gradient(99.05deg, #00579D 8.81%, #448DCA 153.91%);
    box-shadow: 0px 4px 4px rgba(49, 49, 49, 0.25);
    overflow: hidden;
}

.configuration .box-configurations {
    width: 50%;
}

.configuration .accessibility-person {
    margin-left: -137px;
}

.configuration .accesibility-options {
    height: 230px;
    color: var(--white);
    z-index: 1;
}

.configuration .accesibility-options .title-confuration {
    font-size: var(--g);
    text-shadow: 0px 4px 4px rgba(49, 49, 49, 0.25);
}

.text-background {
    position: absolute;
    right: 150px;
    opacity: 0.1;
    font-weight: 600;
    color: var(--white);
    margin-top: 230px;
    margin-left: 150px;
    user-select: none;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.text-background span {
    font-size: calc(var(--gg) + 35px);
}

.configuration .sliders-accessibility .display-space-between {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.configuration .sliders-accessibility .subtitle-confuration {
    font-size: var(--m);
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.configuration .sliders-accessibility .switch-accessibility {
    width: 128px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 15px;
}

.configuration .sliders-accessibility .switch-accessibility .switch {
    margin-left: 0px;
}

.configuration .sliders-accessibility label {
    background-color: rgba(255, 255, 255, 0.28)
}

.configuration .sliders-accessibility input:checked+label {
    background-color: rgba(255, 255, 255, 0.70);
    box-shadow: 0 0 5px 1px var(--blueF7);
}

.configuration .switch-slider-fontSize {
    margin-left: 15px
}

.configuration .colors-configuration label{
    z-index: 100;
}

.configuration .colors-configuration input{
    width: 0px;
    height: 0px;
    color: none;
    margin-left: -40px;
    margin-top: 16.5px;
}

.configuration .color-10{
    border: 1px solid var(--greyC4);
}

@media (max-width: 1380px) {
    .configuration .background-configurations {
        display: block !important;
    }

    .configuration .box-accesibility {
        margin-left: 0px;
        width: 100%;
        margin-top: 30px;
    }

    .configuration .box-configurations {
        width: 100%;
    }
}