.view-demand .box div span {
    font-size: var(--p);
}

.view-demand .box .title {
    margin-top: 30px !important;
    margin-left: 0px !important;
}

.view-demand .description {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}

.view-demand .complement {
    margin-top: 30px;
}

.view-demand .description .desc {
    margin-right: 25px;
}

.view-demand .infos {
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
}

.view-demand .infos:hover,
.view-demand tr:hover {
    background-color: var(--blueF4);
}

.view-demand .infos div {
    border-right: 1px solid var(--greyC4);
    padding-right: 20px;
    margin-right: 25px;
}

.view-demand .attachments .attachment {
    cursor: pointer;
    margin-left: 0px !important;
    width: 100px;
    height: 80px;
    padding: 5px;
    border-radius: 4px;
    display: grid;
    align-items: center;
    justify-content: center;
}

.view-demand .attachments .attachment span {
    font-size: var(--pp) !important;
}

.view-demand .attachment .attachment-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.view-demand .attachments .attachment:hover {
    background-color: var(--greyF7);
}

.view-demand .btn-secondary {
    margin-right: 15px !important;
}

.view-demand .btn-download{
    width: 45px !important;
}

.view-demand .btn-download span{
    margin: 0;
}

.view-demand .classification {
    margin-top: 30px !important;
}

.view-demand .proposal-view {
    width: 100%;
    border-radius: var(--r);
    border: 1px solid var(--greyC4);
    padding: 15px;
    cursor: pointer;
    margin-bottom: 15px;
}

.view-demand .proposal-view:hover {
    background-color: var(--greyF7);
}

.view-demand .proposal-view p {
    font-size: var(--m);
}

.view-demand .proposal-view-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 20px;
}

.view-demand .proposal-view-buttons button {
    margin-left: 15px;
}