.profile .person {
    padding: 5px;
}

.profile .image-profile {
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
    border-radius: var(--rr);
    background-color: var(--blue19);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--m);
    color: var(--white);
    cursor: pointer;
    margin-left: 0px !important;
    overflow: hidden;
}

.profile .workerName {
    margin: 0 !important;
    margin-left: 10px !important;
}

.profile .person .material-symbols-outlined {
    width: 40px;
    height: 40px;
    background-color: var(--greyF7);
    border-radius: var(--rr);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.profile .person .material-symbols-outlined:hover {
    background-color: var(--greyE5);
}

.profile .profile-select {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    cursor: pointer;
    border-bottom: 1px solid transparent;
}

.profile .profile-select p{
    padding-top: 4px;
    margin: 0px !important;
    font-size: var(--p);
    color: var(--grey59);
}

.profile .h65px{
    height: 65px;
}

.profile .profile-select:hover {
    background-color: var(--greyF7);
    border-bottom: 1px solid var(--greyC4);
}

.profile p{
    margin: 0px !important;
    font-size: var(--p);
    color: var(--grey59);
}