.dashboard .box {
    padding-right: 20px;
    width: 100%;
    height: fit-content;
}

.dashboard .box:hover {
    background-color: var(--greyF7);
}

.dashboard svg {
    width: 100%;
    height: 100%;
}

.dashboard .content {
    margin-top: 20px;
}

.dashboard .box .display-flex {
    justify-content: space-between;
}

.dashboard .box p {
    width: 100%;
    white-space: nowrap;
}

.dashboard .gg {
    font-size: var(--gg) !important;
    color: var(--grey3d) !important;
    transition: color 0.5s ease-in-out;
    animation: aumentar 1s linear;
    width: 80px;
    text-align: center;
}


.dashboard .box .material-symbols-outlined {
    font-size: var(--gg);
    color: var(--blue) !important;
    font-variation-settings: 'wght' 300, 'FILL' 1, 'GRAD' -25, 'opsz' 50 !important;
}

.dashboard .display-grid {
    margin-bottom: 0px !important;
}

.box .display-grid,
.box .display-flex,
.box .text-information {
    min-width: max-content;
}

.box .display-grid span {
    color: var(--grey3d) !important;
}


.dashboard .display-grid .material-symbols-outlined {
    font-size: var(--p);
}


.dashboard .display-grid p {
    font-size: var(--p);
    margin-bottom: 0;
    margin-left: 5px;
}

.dashboard .display-grid .display-flex-center {
    justify-content: space-between;
}

.dashboard .chart {
    height: 150px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboard .h190 .display-block {
    display: flex;
    align-items: center;
    justify-content: center;
}



.dashboard .lists-dashboard {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-left: 20px;
}

@media(max-width: 1024px) {
    .dashboard .box {
        width: 100% !important;
    }

    .dashboard .dashboard-content,
    .dashboard .flex-box {
        flex-direction: column;
    }

    .dashboard .chart {
        width: 100%;
    }

    .dashboard .box .display-flex {
        align-items: center;
    }

    .dashboard .lists-dashboard {
        margin-left: 0px;
    }

    .dashboard .h190 p {
        display: flex;
        justify-content: center;
        text-align: center;
    }
}