.demand .graphic,
.demand-list .graphic {
    width: 150px;
    height: 15px;
    border-radius: 50px;
    background-color: var(--greyD9);
}

.demand-list .graphic-proposal {
    width: 118px;
    display: flex;
    justify-content: flex-end;
    margin-right: 5px;
}

.demand .situation-approved,
.demand-list .situation-approved,
.demand .situation-rejected,
.demand-list .situation-rejected,
.demand .situation-pending,
.demand-list .situation-pending {
    width: 15px;
    height: 15px;
    border-radius: 50px;
    margin-left: 10px;
}

.demand .situation-approved,
.demand-list .situation-approved {
    background-color: #36802d
}

.demand .situation-rejected,
.demand-list .situation-rejected {
    background-color: #d33649
}

.demand .situation-pending,
.demand-list .situation-pending {
    background-color: #f6921d
}

.demand .graphic-proposal,
.demand-list .graphic-proposal {
    display: flex;
    align-items: center;
}

.demand-list .graphic {
    margin-right: 15px;
}

.graphic .situation-backlog-ranked,
.graphic .situation-backlog-ranked-approved,
.graphic .situation-backlog,
.graphic .situation-to-do,
.graphic .situation-done,
.graphic .situation-cancelled,
.graphic .situation-assesment,
.graphic .situation-support,
.graphic .situation-design-and-build,
.graphic .situation-business-case {
    height: 100%;
    background-color: var(--blue);
    border-radius: 20px;
}


.graphic .situation-backlog {
    width: 20%;
}

.graphic .situation-backlog-ranked{
    width: 25%;
}

.graphic .situation-backlog-ranked-approved{
    width: 30%;
}


.graphic .situation-assesment {
    width: 30%;
}

.graphic .situation-business-case {
    width: 45%;
}

.graphic .situation-to-do {
    width: 60%;
}

.graphic .situation-design-and-build {
    width: 75%;
}

.graphic .situation-support,
.graphic .situation-cancelled {
    color: var(--grey3d);
    background-color: var(--greyD9);

}

.graphic .situation-backlog,
.graphic .situation-backlog-ranked,
.graphic .situation-backlog-ranked-approved,
.graphic .situation-to-do,
.graphic .situation-done,
.graphic .situation-cancelled,
.graphic .situation-assesment,
.graphic .situation-support,
.graphic .situation-design-and-build,
.graphic .situation-business-case {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 9px;
    color: var(--greyF7)
}

.graphic .situation-cancelled,
.graphic .situation-support {
    color: var(--grey3d);
}

.graphic {
    width: 100%;
    background-color: var(--blue64);
}


.graphic .situation-backlog:hover,
.graphic .situation-to-do:hover,
.graphic .situation-done:hover,
.graphic .situation-assesment:hover,
.graphic .situation-design-and-build:hover,
.graphic .situation-business-case:hover {
    background-color: var(--blue19);
}

.graphic .situation-support:hover,
.graphic .situation-cancelled:hover {
    background-color: var(--greyC4);
}


.demand .infos .situation,
.demand-list .infos .situation {
    min-width: 200px;
    max-width: 210px;
    display: flex;
    align-items: center;
    justify-content: center;
}