.button-action {
    background-color: var(--blue);
    width: 15%;
    height: 40px;
    border-radius: 3px;
    border: none;
    color: var(--white);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width: 768px) {
    .button-action {
        width: 40%;
    }
}