.rank-demand .box div{
    margin-right: 2px;
    margin-left: 0px;
}

.rank-demand .box .size-demand,
.rank-demand .box .bu-requester,
.rank-demand .box .bu-benefited,
.rank-demand .box .ti-section{
    margin-bottom: 10px;
}