.demand {
    width: 100%;
    height: 100px;
    margin-top: 15px;
    border-radius: 4px;
    border: 1px solid var(--greyC4);
    color: var(--grey59);
    cursor: pointer;
    font-weight: 400;
}

.demand:hover {
    background-color: var(--blueF4);
}

.demand section {
    width: 100%;
    padding-right: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.demand::before {
    content: '';
    background-color: var(--blue);
    position: absolute;
    width: 6px;
    height: 100px;
    margin-top: -1px;
    border-radius: 4px 0 0 4px;
}


.demand h1::before {
    background-color: var(--blue64);
    content: '';
    position: absolute;
    width: 35px;
    height: 2px;
    margin-top: 25px;
}

.demand h1 {
    font-size: var(--m);
    margin: 10px 15px !important;
}

.demand .graphic {
    width: 150px;
    height: 15px;
    border-radius: 50px;
    background-color: var(--greyD9);
}

.demand .graphic .situation {
    width: 20%;
    height: 100%;
    background-color: var(--blue);
    border-radius: 20px;
}

.demand .graphic .situation:hover {
    background-color: var(--blue00);
}

.demand .infos {
    display: flex;
    align-items: center;
    height: 52.5px;
    margin-top: 5px;
    margin-left: 5px;
    padding-right: 5px;
    overflow-y: hidden;
    overflow-x: auto;
}

.demand .infos div {
    display: flex;
    align-items: center;
    font-size: var(--p);
    border: 1px solid var(--greyC4);
    border-radius: 4px;
    padding: 7px;
    margin-left: 10px;
}

.demand .infos div p {
    padding: 0px;
    margin: 0px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    direction: ltr;
    max-width: 250px;
}

.infos::-webkit-scrollbar {
    width: 12px;
    height: 5px;
}

.infos::-webkit-scrollbar-track {
    background: var(--greyD9);
    border-radius: 20px;
}

.infos::-webkit-scrollbar-thumb {
    background-color: var(--greyC4);
    border-radius: 20px;
}