.demand,
.demand-list {
    width: 100%;
    height: 99px;
    border-radius: var(--r);
    border: 1px solid var(--greyC4);
    color: var(--grey59);
    cursor: pointer;
    font-weight: 400;
    overflow-y: hidden;
    overflow-x: auto;
}

.demand {
    margin-bottom: 10px;
}

.demand-list section h1 {
    display: inline-block;
    white-space: nowrap !important;
    max-width: 510px !important;
    text-overflow: ellipsis !important;
    overflow: hidden !important;
}

.demand section .display-flex,
.demand-list section .display-flex {
    align-items: center;
}

.content-demand {
    margin-left: 6px
}

.demand .code,
.demand-list .code {
    background-color: var(--greyE5);
    padding: 4px;
    width: 100px;
    height: 30px;
    margin-left: 15px;
    border-radius: var(--r);
    font-size: var(--pp) !important;
    border: 1px solid var(--greyC4);
    display: flex;
    align-items: center;
    justify-content: center;
}

.demand-list {
    height: 60px;
    border: 0px;
    display: flex;
    border-bottom: 1px solid var(--greyC4);
    border-radius: 0;
    margin-top: 0px;
}

.demand:hover,
.demand-list:hover {
    background-color: var(--blueF4);
}

.demand section,
.demand-list section {
    width: 100%;
    padding-right: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.demand::before {
    content: '';
    background-color: var(--blue);
    position: absolute;
    width: 8px;
    height: 98.6px;
    margin-top: -0.6px;
    border-radius: var(--r) 0px 0px var(--r);
}

.proposals .demand::before {
    background-color: var(--blue00);
}

.agendas .demand::before {
    background-color: var(--blue44);
}

.minutes .demand::before {
    background-color: var(--blue64);
}

.demand h1,
.demand-list h1 {
    font-size: var(--m);
    margin: 10px 15px !important;
}

.demand section h1 {
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.demand .btn-primary,
.demand .btn-secondary {
    height: 40px;
    font-size: var(--p) !important;
}

.demand .btn-primary span {
    margin: 0;
}

.demand .infos,
.demand-list .infos {
    display: flex;
    align-items: center;
    height: 52px;
    margin-left: 5px;
    padding-right: 20px;
}

.demand .infos div,
.demand-list .infos div {
    display: flex;
    align-items: center;
    font-size: var(--p);
    border: 1px solid var(--greyC4);
    border-radius: var(--r);
    padding: 7px;
    margin-left: 10px;
}

.demand .infos .requester,
.demand-list .infos .requester {
    min-width: 260px;
    max-width: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.demand .infos div p,
.demand-list .infos div p {
    padding: 0px;
    margin: 0px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    direction: ltr;
    max-width: 250px;
}

.demand-list .infos {
    height: 100%;
    margin-top: 0px;
    margin-left: 0px;
}

.demand .display-flex,
.demand-list .display-flex {
    justify-content: space-between;
}

.demand-list .display-flex {
    align-items: center;
}

.demand .display-flex button,
.demand-list .display-flex button {
    margin-right: 15px;
    width: 150px;
}


.background-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.background-modal .modal {
    margin-left: 60px;
    margin-top: 0px !important;
    height: 90px;
    width: 500px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.background-modal .modal .progress {
    background-color: var(--greyE5);
    height: 20px;
    margin: 10px;
    position: relative;
    border-radius: 50px;
}

.background-modal .modal .progress .progress-bar {
    background-color: var(--blue);
    width: 0%;
    height: 100%;
    border-radius: 50px;
}

.situation-demand {
    z-index: 1;
    position: relative;
}

.title-situation {
    font-size: var(--m);
    color: var(--grey00);
    margin: 10px;
}


/* @media(max-width: 1380px) {
    .demand {
        height: 110px;
    }

    .demand::before{
        height: 110px;
    }
}


@media (max-width: 768px) {

    .demand .infos,
    .demand-list .infos {
        height: auto;
    }
} */