.header {
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 40px;
    padding-left: 15px;
    background-color: var(--blue);
    color: var(--white);
}

.header .left img {
    width: 40px;
}

.title,
.left,
.right,
.left .logo,
.title .flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.left,
.title,
.title .flex {
    height: 100%;
}

.title {
    width: auto;
    display: block;
    margin-left: 120px;
}

.title .flex {
    margin-bottom: -4px;
    padding: 0 15px;
    cursor: pointer;
}

.title .trace {
    width: 100%;
    height: 4px;
    position: relative;
    border-radius: 8px 8px 0 0;
    background-color: var(--blue64);
}

.title .material-symbols-outlined {
    margin-right: 10px;
    font-size: 22px;
}


.right .display-grid {
    margin-right: 10px;
}

@media(max-width: 768px) {
    .title {
        margin-left: 20px;
    }
}