.header {
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 40px;
    padding-left: 15px;
    background-color: var(--blue);
    color: var(--white);
}

.header .left img {
    width: 40px;
}

.title,
.left,
.right,
.left .logo,
.title .flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.left,
.title,
.title .flex {
    height: 100%;
}

.title {
    width: auto;
    display: block;
    margin-left: 145px;
}

.title .flex {
    margin-bottom: -4px;
    padding: 0 15px;
    cursor: pointer;
}

.title .trace {
    width: 100%;
    height: 4px;
    position: relative;
    border-radius: 8px 8px 0 0;
    background-color: var(--blue64);
}

.title .material-symbols-outlined {
    margin-right: 10px;
    font-size: 22px;
}

.header .person {
    background-color: var(--greyD9);
    width: 35px;
    height: 35px;
    border-radius: var(--r);
}

.header .user{
    display: flex;
    padding: 5px 10px;
    border-radius: var(--r);
    align-items: center;
    cursor: pointer;
}

.header .user:hover{
    background-color: var(--blue19);
}

.header .username{
    font-size: var(--p);
}

.right .display-grid{
    margin-right: 10px;
}

@media(max-width: 768px){
    .title{
        margin-left: 20px;
    }
}