.view-demand textarea {
    min-height: auto !important;
    height: 100% !important;
    box-sizing: border-box;
}

.true {
    height: 60px !important;
    overflow: hidden;
    transition: 0.5s;
}

.false{
    overflow: hidden;
}

.view-demand .box div span {
    font-size: var(--p);
}

.view-demand .box .title {
    margin-top: 10px !important;
    margin-right: 5px;
}


.view-demand .description {
    display: flex;
    padding: 10px;
    padding-right: 0px;
}

.view-demand .complement {
    margin-top: 30px;
}

.view-demand .infos {
    width: 100%;
    height: 45px;
    padding: 10px;
    padding-right: 0px;
    display: flex;
    align-items: center;
}

.view-demand tr {
    height: 40px;
    border-bottom: 1px solid var(--greyC4);
}


.view-demand .arrow-expend {
    color: var(--grey59);
    font-size: 25px !important;
    width: 40px;
    height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: var(--r);
}

.view-demand .arrow-expend:hover {
    background-color: var(--greyF7);
}

.view-demand tr:first-child {
    border-top: 1px solid var(--greyC4);
}


.view-demand tr:hover {
    background-color: var(--blueF4);
}


.view-demand .btn-secondary {
    margin-right: 15px !important;
}

.view-demand .btn-download {
    width: 45px !important;
    min-width: 45px;
}

.view-demand .btn-mini {
    margin-left: 15px !important;
}

.view-demand .btn-download span {
    margin: 0;
}

.view-demand .proposal-view {
    width: 100%;
    border-radius: var(--r);
    border: 1px solid var(--greyC4);
    padding: 15px;
    cursor: pointer;
    margin-bottom: 15px;
}

.view-demand .responsible {
    margin-top: 30px;
}

.view-demand .proposal-view:hover {
    background-color: var(--greyF7);
}

.view-demand .proposal-view p {
    font-size: var(--m);
}

.view-demand .title {
    margin-left: 10px !important;
    white-space: nowrap;
}

.view-demand .display-solicitation-demand .title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.view-demand .proposal-view-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.proposal-view p{
    margin: 0px !important
}

.view-demand .proposal-view-buttons button {
    margin-left: 15px;
}

.view-demand .infos input {
    margin-left: 2px !important;
}

.view-demand .text-information {
    width: 100%;
    border: none;
    text-align: justify;
    font-size: var(--p);
}

.view-demand .situation-current .text-information {
    padding: 10px;
}

.view-demand .description .text-information {
    padding-left: 0px !important;
}

.workerName {
    padding: 0px !important;
    display: flex;
    align-items: center;
}

.view-demand .display-flex-center {
    width: 100%;
}

.view-demand .box a {
    text-decoration: none;
}

.view-demand .real-benefit,
.view-demand .potential-benefit,
.view-demand .qualitative-benefit,
.situation-current,
.view-demand .cost-center,
.view-demand .classification,
.view-demand .complement,
.view-demand .proposalScope,
.view-demand .attachments {
    margin-top: 15px;
    padding: 10px;
    border: 1px solid var(--greyC4);
    border-radius: var(--r);
}

.view-demand .cost-center,
.view-demand .classification,
.view-demand .complement {
    padding: 0px;
}

.view-demand .cost-center .title,
.view-demand .classification .title,
.view-demand .complement .title {
    padding: 9px 10px !important;
}

.view-demand .cost-center tr:last-child,
.view-demand .classification tr:last-child,
.view-demand .complement tr:last-child {
    border-bottom: none;
}


.view-demand .descriptiveProposal {
    margin-top: 15px;
    padding: 12px;
    padding-bottom: 0px;
}


.view-demand .proposalScope {
    padding-bottom: 0px;
}

.view-demand .title-name {
    margin-bottom: 20px;
}

.view-demand .title-name p {
    font-size: var(--g);
}


.view-demand .code {
    background-color: var(--greyE5);
    padding: 4px;
    width: 100px;
    height: 30px;
    margin-left: 15px;
    border-radius: var(--r);
    font-size: var(--pp) !important;
    border: 1px solid var(--greyC4);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--grey3d);
}

.view-demand .cost-center {
    margin-top: 15px;
}

.display-solicitation-demand {
    display: flex;
    align-items: flex-start !important;
    height: 50px;
    margin-bottom: 20px;
}

.display-solicitation-demand p {
    margin-bottom: 0px !important;
    font-size: var(--g);
    margin-top: 2px;
}

.bold-text {
    white-space: nowrap;
    margin-right: 5px;
}

.view-demand .responsibleAnalyst {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

.cost-center .display-flex-space-between,
.classification .display-flex-space-between,
.complement .display-flex-space-between {
    padding-right: 10px;
}

.view-demand .descriptiveProposal h1 {
    font-size: var(--m) !important;
    color: var(--blue) !important;
}

.view-demand .descriptiveProposal p,
.view-demand .descriptiveProposal li {
    font-size: var(--p) !important;
    color: var(--grey4D) !important;
}

.view-demand .pl20 {
    padding-left: 20px !important;
}

.view-demand .proposalDescription {
    color: black;
}

.view-demand .buBenifitedTd{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.view-demand .proposalsAgenda{
    margin-top: 25px;
}

.mb10{
    margin-bottom: 15px !important;
}

.w40{
    width: 33.5% !important;
}

/* 
@media(max-width: 768px) {
    .view-demand .box div span {
        font-size: var(--pp);
    }
} */


@media(max-width: 768px){
    .btn-primary, .btn-secondary{
        width: 100% !important;
        max-width: 100% !important;
        min-width: 100% !important;
    }
}