.button-table-list {
    background-color: var(--blue);
    color: var(--white);
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
    margin-left: 10px;
    border: 0;
    border-radius: 3px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

.button-table-list:hover {
    background-color: var(--blue00);
}