.button-table-list {
    background-color: var(--blue);
    color: var(--white);
    width: 45px;
    height: var(--h);
    min-width: 45px;
    min-height: var(--h);
    margin-left: 10px;
    border: 0;
    border-radius: 4px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

.button-table-list:hover {
    background-color: var(--blue19);
}