.grid-cost-execution .title {
    margin-top: 10px;
}

.w40 {
    width: 30%
}

.w40:hover {
    cursor: pointer;
}


.grid-cost-execution .material-symbols-outlined {
    font-size: 20px;
    color: var(--blue);
}

.btn-center-cost .material-symbols-outlined{
    color: var(--white) !important;
}