.create-agenda .display-flex {
    justify-content: space-between;
}

.create-agenda .display-flex .input:nth-child(2),
.create-agenda .display-flex .input:nth-child(3) {
    margin-left: 20px !important
}

.create-agenda .proposals-agenda {
    margin-top: 20px;
}

.create-agenda .proposal-agenda {
    width: 100%;
    height: 50px;
    border: 1px solid var(--greyC4);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: var(--r);
    margin-bottom: 15px;
    margin-right: 15px;
}

.create-agenda .addProposal {
    margin: 10px 0px 25px 0px;
}

.create-agenda .proposal-agenda:hover {
    background-color: var(--greyF7);
}


.create-agenda .proposal-agenda p {
    margin-bottom: 0px;
}

.create-agenda .delete-proposal-agenda {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    padding: 5px;
    background-color: var(--greyF7);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.create-agenda .delete-proposal-agenda span {
    color: var(--grey3d);
}

.create-agenda .delete-proposal-agenda:hover {
    background-color: var(--greyD9);
    color: var(--greyR9);
}

.proposals-agenda .proposal {
    display: flex !important;
}

.proposals-agenda .proposal .check-box {
    width: 230px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.proposals-agenda .proposal .check-box .checkbox{
    margin-top: -20px;
    margin-right: 8px;
}

.proposals-agenda .proposal .check-box input {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.create-agenda .footer-btn .display-flex {
    justify-content: flex-end
}

.w100{
    width: 100%;
}

.commission-flex{
    display: flex !important;
    align-items: flex-end !important;
    justify-content: flex-end !important;
}

.create-agenda .background-title .btn-unique{
    min-width: 45px !important;
}

.create-agenda .background-title .btn-unique span{
    margin: 0 !important;
}