.navigator,
.navigator div {
    display: flex;
    align-items: center;
}

.navigator-table-true{
    margin-top: 28px;
}

.navigator {
    height: var(--h);
    justify-content: flex-end;
    color: var(--grey59);
}

.navigator div {
    width: var(--h);
    height: 100%;
    justify-content: center;
    border: 1px solid var(--greyC4);
    border-radius: var(--r);
    margin-left: 10px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.navigator div:hover {
    background-color: var(--blueF4);
}

.navigator .current {
    background-color: var(--blue);
    color: var(--white);
    border: none;
}

.navigator .current:hover {
    background-color: var(--blue19) !important;
}

.background-minute {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* Color de fondo transparente */
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.minute {
    width: 40%;
    height: 84%;
    background-color: var(--white);
    border-radius: var(--r);
}

.minute img {
    width: 50px;
}

.messages .no-results{
    height: calc(100vh - 420px);
}

.no-results {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--greyC4);
    height: calc(100vh - 400px);
}

.no-results .material-symbols-outlined {
    font-size: 200px !important;
    color: var(--greyC4) !important
}

.minute iframe {
    width: 100%;
    height: 100%;
    margin-left: 0px !important;
    border: none;
}

.container-background {
    min-height: calc(100vh - 400px) !important;
    position: relative;
    overflow: auto;
}

.boxNoPadding {
    border: 1px solid var(--greyC4);
    border-radius: var(--r);
    overflow: overlay;
    min-height: calc(100vh - 350px) !important;
    max-height: calc(100vh - 350px) !important;
}

.boxNoPadding-true {
    border: 1px solid var(--greyC4);
    border-radius: var(--r);
    overflow: overlay;
    min-height: calc(100vh - 428px) !important;
}

.h45 {
    height: 45px;
}

.h45 .arrow-disabled {
    background-color: var(--greyF7);
    color: var(--grey59);
    cursor: not-allowed;
}

.h45 .arrow-disabled:hover {
    background-color: var(--greyF7);
    color: var(--grey59);
    cursor: not-allowed;
}

.btn-presentation {
    position: absolute;
    z-index: 15;
    bottom: 0;
    right: 0;
    margin-bottom: 20px;
    margin-right: 20px;
    width: 45px;
}

.demand-last .demand,
.demand-last .demand-list{
    border-bottom: none !important;
}

@media (max-width: 768px) {
    .minute {
        width: 90%;
        height: 90%;
    }

    /* .solicitation .container-background {
        max-height: calc(100vh - 400px) !important;
    } */

    .container-background {
        min-height: 400px !important;
    }
}