.background-title {
    margin-bottom: 20px;
}

.configuration {
    color: var(--grey59);
}

.configuration .flex,
.configuration .box .profile {
    display: flex;
    align-items: center;
}


.configuration .box .material-symbols-outlined {
    margin-left: 10px;
    cursor: pointer;
    border-radius: var(--r);
    padding: 5px;
    background-color: var(--greyF7);
}

.configuration .box .material-symbols-outlined:hover {
    background-color: var(--greyD9);
}

.configuration .box .picture-profile {
    width: 90px;
    height: 90px;
    border-radius: 80px;
}

.configuration .box .picture-profile:hover {
    opacity: 0.9;
}

.configuration .box .email-name {
    display: grid;
    margin-left: 10px;
}

.configuration .box .email-name .name {
    font-size: var(--g);
}

.configuration .box .email-name .email {
    font-size: var(--m);
}

.configuration .box .change-configuration {
    display: grid;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid var(--greyC4);
}

.configuration .box .change-configuration .title-confuration {
    font-size: var(--m);
}

.configuration .box .change-configuration .subtitle-confuration {
    margin-top: 6px;
}