.background-title {
    margin-bottom: 20px;
}

.configuration {
    color: var(--grey59);
}

.configuration .flex,
.configuration .box .profile {
    display: flex;
    align-items: center;
}

.configuration .box .profile .material-symbols-outlined {
    margin-left: 5px;
}

.configuration .box .material-symbols-outlined {
    margin-left: 10px;
    cursor: pointer;
    border-radius: var(--r);
    padding: 5px;
    background-color: var(--greyF7);
}

.configuration .box .material-symbols-outlined:hover {
    background-color: var(--greyD9);
}

.configuration .box .picture-profile {
    width: 90px;
    height: 90px;
    min-width: 90px;
    min-height: 90px;
    border-radius: 80px;
    background-color: var(--blue19);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: var(--white);
}

.configuration .box .picture-profile:hover {
    opacity: 0.9;
}

.configuration .box .email-name {
    display: grid;
    margin-left: 10px;
}

.configuration .box .email-name .name {
    font-size: var(--g);
}

.configuration .box .email-name .email {
    font-size: var(--p);
    margin-top: 5px;
}

.configuration .box .change-configuration {
    display: grid;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid var(--greyC4);
}

.configuration .box .change-configuration .title-confuration {
    font-size: var(--m);
    height: 34px;
    margin-top: 10px;
}


.configuration .switch {
    position: relative;
    display: inline-block;
    width: 53px;
    height: 25px;
    margin-left: 20px;
}

.configuration .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.configuration .switch label {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--greyC4);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.configuration .switch label:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: var(--white);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

.configuration input:checked+label {
    background-color: var(--blue19);
}

.configuration input:focus+label {
    box-shadow: 0 0 1px var(--blue19);
}

.configuration input:checked+label:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.configuration .font-size {
    margin-left: 10px;
    width: 40px !important;
    height: 40px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 !important;
}

.configuration .font .material-symbols-outlined {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.configuration .font-size:hover {
    border: 1px solid var(--grey59)
}

.configuration .font-size:focus {
    border: 2px solid var(--blue19)
}

.configuration .input-password {
    width: 150px !important;
    margin-left: 15px;
    padding-right: 11.5px !important;
}

.configuration .display-flex {
    align-items: center;
}