.create-demands-3 .attachments label{
    margin-right: 20px;
}

.create-demands-3 .attachments{
    display: flex;
    align-items: flex-end;
}

.attachments input[type="file"] {
    display: none;
}

.attachments label .material-symbols-outlined {
    margin-right: 5px;
}

.box .frequency {
    margin-bottom: 20px;
}

@media(max-width: 768px) {
    .attachments label {
        width: 100%;
        margin-right: 0px;
        margin-bottom: 15px;
    }

    .attachments{
        display: grid !important;
    }
}