.attachments input[type="file"] {
    display: none;
}

.attachments label .material-symbols-outlined {
    margin-right: 5px;
}

.box .frequency {
    margin-bottom: 20px;
}

@media(max-width: 768px) {
    .attachments label {
        width: 100%;
    }
}