.demands-footer {
    display: flex;
    justify-content: space-between;
}

.w45 {
    width: 45px;
    min-width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
}

.w45 span {
    margin: 0px !important;
}

.costCenter,
.buBenefited {
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    padding-right: 5px;
    height: 40px;
    background-color: var(--greyF7);
    border: 1px solid var(--greyE5);
    border-radius: var(--r);
}

.costCenter .delete-cost-center {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--r);
    background-color: var(--greyE5);
    font-size: 20px;
    color: var(--grey59);
    cursor: pointer;
}

.costCenter .delete-cost-center:hover {
    background-color: var(--greyC4);
}

.text-area {
    width: 100%;
    display: block;
    margin-bottom: 15px;
    margin-top: 15px !important;
}

.select-cost-center,
.select-cost-center div,
.select-cost-center input {
    width: 100% !important;
    height: 45px !important;
    padding: 0px !important;
}

fieldset{
    border: none !important;
    outline: none !important;
}

.select-cost-center input {
    height: 45px !important;
    outline: none;
    border: none;
    padding: 0 10px !important;
}

.select-cost-center input:hover {
    border: none;
}

.select-cost-center ul li:hover {
    background-color: var(--blueF4);
    color: black;
}

@media(max-width: 1050px) {
    .create-demands-1 .progress-bar {
        width: 70%;
    }
}