.login-form {
    margin: auto;
}

.login-form header {
    display: flex;
    align-items: center;
    justify-content: space-between !important;
}

.login-form header h1 {
    display: flex;
    align-items: center;
    color: var(--grey59);
}

.login-form header h1::before {
    background-color: var(--bluelight);
    content: '';
    position: absolute;
    width: 35px;
    height: 2px;
    margin-top: 30px;
}

.login-form header h1::after {
    content: '';
    width: 18px;
    height: 18px;
    background-image: url('../../../../public/imgs/logo.png');
    background-size: 100%;
    margin-left: 5px;
}

.login-form header img {
    width: 50px;
}

.login-form main {
    margin: 20px 0;
    color: var(--grey59);
}

.login-form main #email,
main #password {
    width: 100%;
    height: 40px;
    margin: 2px 0 15px 0 !important;
    padding-left: 45px;
    padding-right: 10px;
    border-radius: 3px;
    border: none;
    outline: 1px solid var(--greyC4);
}

.login-form main .material-symbols-outlined {
    position: absolute;
    margin-left: -32px;
    margin-top: 30px;
}

.login-form main div:nth-child(2) span {
    margin-left: -36px;
}

.login-form main section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: var(--p);
}

.login-form main section div{
    display: flex;
}

.login-form main #checkbox {
    margin: 0 10px 0 0;
    width: 15px;
    height: 15px;
    border: 2px solid var(--greyC4) !important;
}

.login-form footer input {
    background-color: var(--blue);
    color: var(--white);
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 3px;
}

@media (min-width: 1024px){
    .login-form{
        width: 35%;
    }
}

@media (min-width: 768px) and (max-width: 1023px){
    .login-form{
        width: 35%;
    }
}

@media(max-width: 767px){
    .login-form{
        width: 75%;
    }
}

@media(max-width: 350px){
    .login-form{
        width: 100%;
    }
}