.box p {
    font-size: var(--m);
    color: var(--blue);
    margin-bottom: 10px;
    margin-top: 0px;
}

.box .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#root>div>div>div:nth-child(4)>div>div.input-checkbox {
    width: 300px;
}

.box .input-checkbox {
    display: grid;
}

.box .input-checkbox label{
    width: max-content;
}

.box .input-checkbox .checkbox {
    height: var(--h);
    display: flex;
    align-items: center;
}

.box .input-checkbox{
    margin-left: 15px;
}

.box .obs{
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.box .info-benefit{
    font-size: 16px !important;
    font-variation-settings: 'FILL' 1, 'wght' 350, 'GRAD' -25, 'opsz' 50 !important;
}

.create-demands-2 .checkbox{
    margin-bottom: -14px !important;
}

@media(max-width: 768px) {
    .box .flex {
        display: block;
    }

    .box .flex .input,
    .box .input-checkbox {
        margin-left: 0px !important;
    }

    .box .input-checkbox{
        width: 300px !important;
    }

    .box {
        margin-left: 0px;
        width: 100%;
    }

    .box .input {
        width: 100% !important;
    }
}