.execution-costs .display-flex {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 15px;
}

.execution-costs .display-flex-grid {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

.execution-costs .display-flex-grid div {
    width: 100%;
}

.execution-costs .display-flex-grid button {
    margin-left: 20px;
}

.btn-center-cost {
    min-width: 45px;
    width: 45px;
}

.btn-center-cost span {
    margin: 0 !important;
}

.execution-costs .display-flex-end {
    margin-top: 20px;
}

.execution-costs .cost-center {
    width: 100%;
    height: 50px;
    border: 1px solid var(--greyC4);
    border-radius: var(--r);
    margin-top: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
}
