.footer {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboard .footer{
    margin-top: 56px !important;
}

.footer span {
    font-size: 13px;
    color: var(--grey3d);
}

.footer img {
    height: 20px;
    margin-right: 12px;
}

.view-demand .footer{
    margin-left: 60px;
}