.view-demand .box div span {
    font-size: var(--p);
}

.view-demand .box .title {
    margin-top: 30px !important;
    margin-left: 0px !important;
}

.view-demand table {
    width: 100%;
    display: block;
}

.view-demand tr {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.view-demand hr {
    width: auto !important;
}

.view-demand .description {
    display: flex;
    justify-content: space-evenly;
}

.view-demand .description .desc {
    margin-right: 25px;
}

.view-demand .infos {
    width: 100%;
    display: flex;
    align-items: center;
}

.view-demand .infos div {
    border-right: 1px solid var(--greyC4);
    padding-right: 20px;
    margin-right: 25px;
}

.view-demand .attachments .attachment {
    cursor: pointer;
    margin-left: 0px !important;
    width: 100px;
    height: 80px;
    padding: 5px;
    border-radius: 4px;
    display: grid;
    align-items: center;
    justify-content: center;
}

.view-demand .attachments .attachment span {
    font-size: var(--pp) !important;
}

.view-demand .attachment .attachment-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.view-demand .attachments .attachment:hover {
    background-color: var(--greyF7);
}

.view-demand .btn-secondary {
    margin-right: 15px !important;
}