.view-demand .box div span {
    font-size: var(--p);
}

.view-demand .box .title {
    margin-top: 30px !important;
    margin-left: 0px !important;
}

.view-demand table {
    width: 100%;
    display: block;
}

.view-demand tr {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.view-demand hr {
    width: auto !important;
}

.view-demand .description {
    display: flex;
    justify-content: space-evenly;
}

.view-demand .description .desc {
    margin-right: 25px;
}

.view-demand .infos {
    width: 100%;
    display: flex;
    align-items: center;
}

.view-demand .infos div {
    border-right: 1px solid var(--greyC4);
    padding-right: 20px;
    margin-right: 25px;
}

.view-demand .attachments .attachment {
    background-color: var(--greyD9);
    cursor: pointer;
    width: 70px;
    height: 70px;
    border-radius: 3px;
    margin-left: 0px !important;
}

.view-demand .attachments .attachment:hover {
    background-color: var(--greyC4);
}