.demand .graphic,
.demand-list .graphic,
.view-demand .graphic {
    width: 150px;
    height: 15px;
    border-radius: var(--rr);
    background-color: var(--greyE5);
}

.demand-list .graphic-proposal {
    width: 118px;
    display: flex;
    justify-content: flex-end;
    margin-right: 5px;
}

.demand .situation-approved,
.demand-list .situation-approved,
.demand .situation-rejected,
.demand-list .situation-rejected,
.demand .situation-pending,
.demand-list .situation-pending,
.demand .situation-published,
.demand-list .situation-published,
.demand .situation-notPublished,
.demand-list .situation-notPublished {
    width: 15px;
    min-width: 15px;
    height: 15px;
    border-radius: var(--rr);
    margin-left: 10px;
}

.demand-list .score{
    display: none !important;
}

.demand .situation-published-score {
    width: 10px;
    min-width: 10px;
    height: 10px;
    border-radius: var(--rr);
    margin-left: 10px;
    margin-right: 5px;
    background-color: var(--blue);
}

.demand .situation-published,
.demand-list .situation-published{
    background-color: var(--blue);
}

.demand .score span,
.demand-list .score span{
    width: 105px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden !important;
}

.demand .score .material-symbols-outlined{
    width: 15px;
    color: var(--blue);
    font-variation-settings: 'FILL' 1, 'wght' 350, 'GRAD' -25, 'opsz' 50 !important;
    font-size: 18px !important;
}


.demand .situation-notPublished,
.demand-list .situation-notPublished{
    background-color: var(--greyC4);
}

.demand .situation-approved,
.demand-list .situation-approved {
    background-color: var(--green)
}

.demand .situation-rejected,
.demand-list .situation-rejected {
    background-color: var(--red)
}

.demand .situation-pending,
.demand-list .situation-pending {
    background-color: var(--orange)
}

.demand .graphic-proposal,
.demand-list .graphic-proposal {
    display: flex;
    align-items: center;
    font-size: var(--p);
    white-space: nowrap;
}

.demand-list .graphic {
    margin-right: 15px;
}

.graphic .situation-backlog-ranked,
.graphic .situation-backlog-ranked-approved,
.situation-backlog-complement,
.graphic .situation-backlog,
.graphic .situation-to-do,
.graphic .situation-done,
.graphic .situation-cancelled,
.graphic .situation-assesment,
.graphic .situation-support,
.graphic .situation-design-and-build,
.graphic .situation-business-case {
    height: 100%;
    background-color: var(--blue);
    border-radius: var(--rr);
}


.graphic .situation-backlog {
    width: 18%;
}

.graphic .situation-backlog-ranked {
    width: 20%;
}

.graphic .situation-backlog-ranked-approved {
    width: 25%;
}

.graphic .situation-backlog-complement {
    width: 30%;
}

.graphic .situation-assesment {
    width: 35%;
}

.graphic .situation-business-case {
    width: 45%;
}

.graphic .situation-to-do {
    width: 60%;
}

.graphic .situation-design-and-build {
    width: 75%;
}

.graphic .situation-support,
.graphic .situation-cancelled {
    color: var(--grey3d);
    background-color: var(--greyD9);

}

.graphic .situation-backlog,
.graphic .situation-backlog-ranked,
.graphic .situation-backlog-ranked-approved,
.graphic .situation-backlog-complement,
.graphic .situation-to-do,
.graphic .situation-done,
.graphic .situation-cancelled,
.graphic .situation-assesment,
.graphic .situation-support,
.graphic .situation-design-and-build,
.graphic .situation-business-case {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 9px;
    color: var(--white)
}

.graphic .situation-cancelled,
.graphic .situation-support {
    color: var(--grey3d);
}

.graphic {
    width: 100%;
    background-color: var(--blue64);
}


.graphic .situation-backlog:hover,
.graphic .situation-to-do:hover,
.graphic .situation-done:hover,
.graphic .situation-assesment:hover,
.graphic .situation-design-and-build:hover,
.graphic .situation-business-case:hover {
    background-color: var(--blue19);
}

.graphic .situation-support:hover,
.graphic .situation-cancelled:hover {
    background-color: var(--greyC4);
}


.demand .infos .situation,
.demand-list .infos .situation {
    min-width: 200px;
    max-width: 210px;
    display: flex;
    align-items: center;
    justify-content: center;
}