.notification-background-true,
.notification-background-false {
    border-bottom: 1px solid var(--greyC4);
}

.notification-background-true{
    background-color: var(--greyF7);
}

.notification-background-true:hover,
.notification-background-false:hover{
    background-color: var(--blueF4);
}

.notification-true,
.notification-false {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--grey59);
    cursor: pointer;
    overflow-x: auto;
    overflow-y: hidden;
}

.notification-true span,
.notification-false span{
    white-space: nowrap;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
} 


.notification-true .informations,
.notification-false .informations {
    display: flex;
    align-items: center;
    height: 100%;
    margin-top: 2px;
}

.notification-true .display-flex-center,
.notification-false .display-flex-center {
    height: 100%;
}

.notification-checkbox{
    padding-left: 25px !important; 
    padding-right:50px !important;
    width: 15px !important;
    height: 60px;
}

.notifications input[type="checkbox"]{
    width: 15px !important;
}

.notification-true .informations .material-symbols-outlined,
.notification-false .informations .material-symbols-outlined {
    margin-right: 10px;
    color: var(--grey59);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: var(--r);
    border: 1px solid transparent;
}

.notification-true .informations .material-symbols-outlined:hover
.notification-false .informations .material-symbols-outlined:hover {
    background-color: var(--greyE5);
}

.notification-true .date-horary .date,
.notification-false .date-horary .date {
    margin-right: 15px;
    margin-left: 30px;
}

.checkbox-message {
    margin-top: 20px !important;
    margin-left: -4px;
}

@media(max-width: 768px){
    .notification-true,
    .notification-false{
        height: 70px;
    }
}