.navigator,
.navigator div {
    display: flex;
    align-items: center;
}

.navigator {
    height: var(--h);
    justify-content: flex-end;
    margin-top: 25px;
    color: var(--grey59);
}

.navigator div {
    width: var(--h);
    height: 100%;
    justify-content: center;
    border: 1px solid var(--greyC4);
    border-radius: var(--r);
    margin-left: 10px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.navigator div:hover {
    background-color: var(--blueF4);
}

.navigator .current {
    background-color: var(--blue);
    color: var(--white);
    border: none;
}

.navigator .current:hover {
    background-color: var(--blue19) !important;
    ;
}

.background-minute {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* Color de fondo transparente */
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.minute {
    width: 40%;
    height: 84%;
    background-color: var(--white);
    border-radius: var(--r);
}

.minute img {
    width: 50px;
}

.no-results {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--grey59);
    margin-top: 50px;
    height: 200px;
}

.minute iframe {
    width: 100%;
    height: 100%;
    margin-left: 0px !important;
    border: none;
}

.container-background {
    min-height: calc(100vh - 399px) !important;
    max-height: calc(100vh - 399px) !important;
    overflow: auto;
    position: relative;
}

.h45{
    height: 45px;
}

@media (max-width: 768px) {
    .minute {
        width: 90%;
        height: 90%;
    }

    .solicitation .container-background {
        max-height: calc(100vh - 385px) !important;
    }

    .container-background {
        min-height: 400px !important;
    }
}