.execution-costs .display-flex {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 15px;
}

.execution-costs .display-flex-grid {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

.execution-costs .display-flex-grid div {
    width: 100%;
}

.execution-costs .display-flex-grid button {
    margin-left: 20px;
}

.btn-center-cost {
    min-width: 45px;
    width: 45px;
}


.btn-center-cost span {
    margin: 0 !important;
}

.execution-costs .display-flex-end {
    margin-top: 20px;
}

.execution-costs .cost-center {
    width: 100%;
    height: 50px;
    border: 1px solid var(--greyC4);
    border-radius: var(--r);
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.mtwo30{
    margin-top: 40px !important;
    margin-bottom: 40px !important;
}

.execution-costs .cost-center div {
    width: 72px !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.execution-costs .cost-center div input {
    width: 50px;
    height: 30px;
    text-align: center;
    margin-right: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.execution-costs .display-flex-space-between {
    margin-top: 20px;
}

.execution-costs .costs-execution {
    display: flex;
}

.execution-costs .hr-execution {
    margin-top: 30px;
}

.execution-costs .costs-execution span {
    padding: 12px;
    border-radius: var(--r);
    border: 1px solid var(--greyC4);
    color: var(--grey59);
    margin-left: 20px;
}

.noExpenses {
    margin: 50px 0px !important;
    font-size: 20px;
    color: var(--grey59) !important
}