.box .display-grid div {
    margin-left: 0px !important;
}

.box .attatchments-complements {
    margin-top: 0px;
}

.complement-demand .box .display-grid {
    margin-bottom: 10px;
}

.display-grid-select{
    display: grid;
}

.box .attatchments-complements label {
    margin-top: 5px;
}