nav {
    width: 60px;
    height: 100%;
    position: fixed;
    background-color: var(--greyE5);
}

nav ul{
    padding: 0;
    margin: 0;
}

nav li {
    width: 60px;
    height: 60px;
    cursor: pointer;
    color: var(--grey59);
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav li .material-symbols-rounded {
    font-size: 22px;
}

li:hover {
    background-color: var(--greyD9);
}

.logout {
    position: fixed;
    bottom: 0;
}