nav,
.nav-open {
    width: 65px;
    min-height: calc(100vh - 65px);
    position: sticky;
    top: 0;
    float: left;
    background-color: var(--greyE5);
}

.nav-open {
    width: 185px;
}

nav a {
    text-decoration: none !important;
}

nav ul {
    padding: 0;
    margin: 0;
}

.nav-open li {
    justify-content: flex-start;
    padding-left: 21px;
}

.nav-open li span {
    font-weight: 100;
}

.nav-open li .material-symbols-outlined {
    margin-right: 10px;
}

nav li {
    width: 100%;
    height: 65px;
    cursor: pointer;
    color: var(--grey59);
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav li .material-symbols-rounded {
    font-size: 22px;
}

li:hover {
    background-color: var(--greyD9);
}

.logout {
    width: 65px;
    background-color: var(--greyE5);
    position: fixed;
    bottom: 0;
}

@media(max-width: 768px) {

    .nav-open {
        width: 100%;
        position: sticky;
        z-index: 1;
    }

    .nav-open{
        overflow: hidden !important;
    }

    nav li {
        height: 65px;
        width: 100%;
    }

    .nav-open .logout {
        width: 100%;
    }

    nav li .material-symbols-rounded {
        font-size: 22px;
    }


}