.login {
    /* height: calc(100vh - 65px); */
}

.login .header-login {
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
}

.login .form {
    display: flex;
    height: calc(100vh - 150px) !important;
}

